<!DOCTYPE html> {% load static %}
<html lang="az">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet"/>
    <!-- icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
    <!-- slider -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>

    <!-- css -->
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}"/>
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
<header class="header">
    <header>
        <div class="navbar_test">
            <div class="logo"><a href="{% url 'home' %}"><img src="{% static 'assets/images/healemo.png' %}" alt=""></a>
            </div>
            <ul>
                <li>Haqqımızda</li>
                <li>Koç tap/ol</li>
                <li><a href="{% url 'quiz_list' %}">Psixoloji test</a></li>
            </ul>
            <div class="language">
                <button>Az <i class="fa-solid fa-globe"></i> <i class="fa-sharp fa-solid fa-chevron-down"></i></button>
            </div>
            <div class="login">
                <button>Login</button>
            </div>
            <div class="register">
                <button>Register</button>
            </div>
        </div>
    </header>
    {% block header %}{% endblock %}
</header>

{% block content %} {% endblock %}

<footer class="footer">
    <div class="up__footer__section">
        <div class="footer-section">
            <h3>Kompaniya</h3>
            <ul>
                <li><a href="#">Haqqımızda</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Topluluq</h3>
            <ul>
                <li><a href="#">Komandanın Planları</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Tədris</h3>
            <ul>
                <li><a href="#">Terapevt ol</a></li>
                <li><a href="#">Terapevt kömək mərkəzi</a></li>
                <li><a href="#">Terapevtlərin Hüquqları</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Mobil</h3>
            <ul>
                <li><a href="#!"><i class="fa-brands fa-apple"></i>Dowload on the
                    App Store</a></li>
                <li><a href="!#"><i class="fa-brands fa-google-play"></i>Get it in
                    Google Play</a></li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="down__footer">
        <div class="down__footer-section">
            <h3><a href="#">&copy; Healemo, Inc. 2023</a>
            </h3>
        </div>
        <div class="down__footer-section">
            <h3><a href="#">Kömək</a></h3>
        </div>
        <div class="down__footer-section">
            <h3><a href="#">Təhlükəsizlik</a></h3>
        </div>
        <div class="down__footer-section">
            <h3><a href="#">Sizin Təhlükəsizlik seçimləriniz</a></h3>
        </div>
        <div class="down__footer-section">
            <h3><a href="#"> <i class="fa-brands fa-instagram"></i></a>
                <i class="fa-brands fa-youtube"></i>
                <i class="fa-brands fa-tiktok"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-pinterest"></i>
            </h3>
        </div>
    </div>
</footer>
<!-- js -->
<script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
<script src="{% static 'js/script.js' %}"></script>
{% block script %}{% endblock %}

</body>
</html>