<div class="main_test">
    <div class="test1">
        <h3>Sual 1</h3>
        <div class="test_test">
            <ul class="quiz-answers">
                <label><input type="radio" name="" value=""> a</label>
                <br>
                <label><input type="radio" name="" value=""> b</label>
                <br>
                <label><input type="radio" name="" value=""> c</label>
                <br>
            </ul>
        </div>
    </div>

    ...

    <button id="quiz-submit">Results</button>
</div>

<form action="" method="post"></form>


